.header {
  margin: 45px 0 36px 0;
  min-height: 74px;  
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  box-sizing: border-box;
  
}

@media screen and (max-width: 1023px) {
  .header {
    width: 100%;
    min-height: 56px;
    padding: 28px 0 31.6px 27px;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .header {
    justify-content: flex-end;
    
  }
}
