.popup__name {
  margin: 34px 64px 54px 36px;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 330px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
}

@media screen and (max-width: 767px) {
  .popup__name {
    max-width: 238px;
    font-size: 18px;
    line-height: 22px;
    margin: 25px 22px 75px 22px;
    
  }
}
