.elements {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 282px);
    box-sizing: border-box;
    max-width: 880px;
    width: 100%;
    gap: 20px 17px;
    padding: 0;   
}

