.popup__profile {
    max-width: 430px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0,0,0,0.15);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    .popup__form-container {
        width: calc(100% - (19px + 19px));
    }
}