.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  transition: .3s linear;
  margin-right: 30px;
  
}
.profile__avatar:hover {
  cursor: pointer;
  opacity: .2;
}

@media screen and (max-width: 644px) {
  .profile__avatar {
    margin: 0 0 22px 0;

  }
}
